*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(15, 9, 20);
}

.title{

    font-size: 70px;
    color: white;
    animation: flipTitle 2s;
}

@keyframes flipTitle{
from{
    transform: rotateX(90deg)
}

to{
transform: rotateX(0deg)

}

}


.containerInput{
background-color: rgb(48, 48, 61);
padding: 15px;
margin: 34px 0;
display: flex;
border-radius: 8px;
box-shadow: 1px 3px 8px black;

}

.container input{
background-color: transparent;
border: 0;
font-size: 20px;
color: white;
outline: none;
margin-right: 8px;

}

.containerInput input::placeholder{
color: #f1f1f1;
}


.buttonSearch{
background-color: transparent;
border: 0;
display: flex;
align-items: center;
cursor: pointer;
transition: transform 0.5s;
}

.buttonSearch:hover{

transform: scale(1.5);

}

.main{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: white;
width: 500px;
border-radius: 8px;
}

.main h2{
margin: 16px 0;
font-size: 39px;
}

.main span{
margin-bottom: 16px;
font-weight: bold;
}

@media (max-width: 620px){
.title{
font-size:60px;
}
  
.main h2{
font-size: 28px;

}

.main{
    width:80%
    min-height:250px;
}

}